<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if logged_in? %>
    <nav class="navbar">
      <div class="navbar-menu">
          <p>
            <%= link_to "Logout", logout_path, method: :delete, class: "button-light" %>
          </p>    
      </div>
    </nav>
  <% end %>
    <%= yield %>
  </body>
</html>
